h1{
    background-color: green;
}
body{
    background-image:url(bat.jpg);
}
div{
    background:linear-gradient(to right,black,gold,white,darkred,darkblue,chocolate,cyan,darkgreen);
    height: 200px;;
}